<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<style type="text/css">
/*<![CDATA[*/
 <!--
 body {background-color:#F0F8FF;}
 a:link { text-decoration: none;color: black;}
 a:active { text-decoration:blink; test:expression(target="_blank");}
 a:hover { text-decoration:underline;color: red}
 a:visited { text-decoration: none;color: green}
 a.current level_1:active{ test:expression(target="_self");}
 a.level_1:active{ test:expression(target="_self");}
 -->
 
/*]]>*/
</style> 

</head>
<body>
<br/>
<br/>

<script language="javascript" type="text/javascript">
var i = 5;
var intervalid;
intervalid = setInterval("fun()", 1000);
function fun() {
if (i == 0) {
window.location.href = "index";
clearInterval(intervalid);
}
document.getElementById("mes").innerHTML = i;
i--;
}
</script>

<div class="text" style=" text-align:right;">
<h4>将在 <span id="mes">5</span> 秒钟后返回</h4>
</div>
<caption><h1>添加成功</h1></caption><br/><br/>

<table class="table    table-hover  table-bordered table-condensed">

   <thead>
      <tr class="danger">
         <th>禁用IP</th><br/>
         <th>禁用时间</th>
         <th>禁用原因</th>
      </tr>
   </thead>
   <tbody>
          <tr  class="success">
              <td><strong><h2> {{ ip }}</h2></strong></td>
              <td><strong><h2> {{ time }}</h2></strong></td>
              <td><strong><h2> {{ reason }}</h2></strong></td>
          </tr>
   </tbody>
</table>


</body>
</html>
